.s1{
    background-color: rgb(197, 197, 248);
    width: 900px;   
    height: 700px;
    display: flex;
    border-radius: 7px;
    box-shadow: 10px 10px 10px 10px rgb(144, 144, 144);
}
.div1{
    background-color: aqua;
    height: 700px;
    width: 400px;
}
.div2{
    margin: auto;
}
.div3{
    background-color: rgb(182, 182, 238);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.input1{
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
}
.h3{
    font-family: Arial, Helvetica, sans-serif;
}
.h1_1{
    background-color: rgb(17, 250, 250);
    border-radius: 5px;
    padding: 20px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.div1{
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}
.h2_1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p_1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.div_in_1{
    margin-top: 100px;
}
body{
    background-image: url('/static/css/image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1{
    width: 200px;
    height: 55px;
    border-radius: 11px;
    background-color: rgb(209, 209, 249);
}
.button1:hover{
    transition: 0.3s;
    background-color: rgb(190, 190, 231);
    cursor: pointer;
}
.div_button1{
    display: flex;
    justify-content: center;
    margin-top: 34px;
}
.div_python1{
    background-color: rgb(97, 215, 255);
    border-radius: 6px;
    text-align: center;
    width: 300px;
    padding: 2px 2px 2px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    justify-self: center;
}
.button_alredy{
    background-color: rgb(84, 224, 224);
    color: rgb(106, 130, 149);
    border-radius: 3px;
    padding: 7px 7px 7px 7px;
    border: none;
    margin-top: 30px;
}
.button_alredy:hover{
    background-color: rgb(33, 212, 212);
    transition: 0.6s;
    cursor: pointer;
    color: rgb(92, 101, 108)
}