<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style5.css')}}">
</head>
<body style="margin: 0; padding: 0;">

<!-- menu div -->
<div class="Menu" id="Menu">


  <form action="/profile" method="post">
    
    <div class="Menu-profile">
      <button class="Button-profile" name="my-profile">profile</button>
    </div>

  </form>

  <ul class="ul-Menu">
      <button class="Button-Menu-List">Lorem, ipsum.</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button class="Button-Menu-List">Lorem, ipsum.</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button class="Button-Menu-List">Lore classm, ipsum.</button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button class="Button-Menu-List-close" id="close-button" onclick="Close()">close</button>
  </ul>

</div>
<!-- menu div -->



  <!-- hearder Desktop -->
<header class="header-Desktop">
    
    <nav class="nav-Desktop">
      
          <img style="width: 100px;" src="{{url_for('static' , filename='css/shark-man.png')}}">
      <div class="div2">

        <form action="/dashbord" method="post">
          <input type="search" style="margin-left: 200px;" placeholder="search account" class="input1" name="username"> 
          <button class="search">search</button>
        </form>
        
        <div class="div1" style="display: flex; gap: 40px;">
        
            <svg class="user" style="width: 23px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
    </svg>

  <svg class="friends" style="width: 23px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
  </svg>
      </div>
          <svg onclick="Open_Menu()" id="Menu-Desktop" class="menu" style="width: 35px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
              </svg> 
        
        </div>
      </nav>

      {% if username %}
        <div class="div-search">
          <form action="/dashbord/my-profile" method="post">
          <section class="section-search">
            <button class="users" name="go"> 

             <svg style="width: 23px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
    </svg>

          </button>

    <p class="p-search">{{ username }}</p>
      
  </section>
</form>
        </div>
      {% endif %}

    </header>
  <!-- header Desktop -->


<!-- header mobile -->
<header class="header-Mobile">

  <nav class="nav-Mobile">

    <img style="width: 100px;" src="{{url_for('static' , filename='css/shark-man.png')}}">

      <svg onclick="Open_Menu()" class="menu-Mobile" style="width: 35px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
              </svg> 

  </nav>

  {% if photo %}
    <script>
      alert("done you uploaded your profile")
    </script>
      <div id="hiddendiv"></div>
  {% endif %}
</header>
<!-- header mobile -->
    <main>

    </main>

<footer>

</footer>



<script src="{{url_for('static' , filename='java/script.js')}}"></script>
</body>
</html>